body {
    background-color: white;
    
}

.center-container{
    background-color: #fcf1c5;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 17%;
    height:100%;
    transform: translate(-50%, -50%);
}


img {
    max-width: 50%; /* Ensure the image doesn't exceed its container's width */
    margin: 0 auto;
    display: flex; /* Center the image horizontally */ 

}

h1{
    justify-content: center;
    align-items: center;
    display: flex; /* Center the image horizontally */ 

}


.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.menu button {
    padding: 10px 20px;
    margin: 12px 0;
    width: 50%;
    height:50%;
    font-size: 18px;
    background-color: 	#FFD700;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.menu button:hover {
    background-color:	#FFD700;
}





