<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Home Page</title>
</head>
<body>
 <div class="center-container">

    <div class="content2">
        <h1>CAMEL CAR HIRE</h1>
    </div>

    <div class="content">
        <img src="{{ url_for('static', filename='images/cropped-logopsdunfinished.webp') }}">
    </div>
    


    <div class="menu">
            <button onclick="goToPage('/Dashboard')">Dashboard</button>
            <button onclick="goToPage('/Cashflow')">Cash Flow</button>
            <button onclick="goToPage('/Aggreements')">Aggreements</button>
            <button onclick="goToPage('/Cars')">Cars</button>
            <button onclick="goToPage('/Contracts')">Contracts</button>
            <button onclick="goToPage('/Expenses')">Expenses</button>
            <button onclick="goToPage('/Suppliers')">Suppliers</button>
            <button onclick="goToPage('/Agents')">Agents</button>

            
            <!-- Add more buttons as needed -->
    </div>

 </div>
</body>
</html>